<article class="card">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row gx-3">
                        <div class="col-6 mb-3">
                            <h1>My pocket</h1>
                            <h2>Current Balance <b>{{currentBalance.Solde}}TND</b></h2>
                            <form [formGroup]="pocketForm" (ngSubmit)="purchase()">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" formControlName="balance" placeholder="Amount" required>
                                    <div class="error-msg" *ngIf="balance.touched && balance.hasError('required')">
                                        Amount is <b>required</b> !
                                    </div>
                                    <button type="submit" class="btn btn-primary">Recharge</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</article>