<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auctions</title>
</head>

<body>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Auction Name</th>
                    <th scope="col">Starting Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <h3 *ngIf="!auctionArray">You have no Auctions!</h3>
            <tbody *ngIf="auctionArray">
                <tr *ngFor="let auction of auctionArray; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{auction.name}}</td>
                    <td>{{auction.price}}</td>
                    <td>{{auction.date}}</td>
                    <td>{{auction.etat}}</td>
                    <td>
                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editauctionModal" (click)="getAuctionData(auction)">Edit</button>
                        <button class="btn btn-danger" (click)="deleteAuction(auction.id,i)">Delete</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#auctionModal">
      Add Auction
    </button>
            </tfoot>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Auction Name</th>
                    <th scope="col">Starting Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Satus</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <h3 *ngIf="!reverseAuctionArray">You have No Reverse Auctions!</h3>
            <tbody *ngIf="reverseAuctionArray">
                <tr *ngFor="let re_auction of reverseAuctionArray; let j = index">
                    <th scope="row">{{j}}</th>
                    <td>{{re_auction.Name}}</td>
                    <td>{{re_auction.Price}}</td>
                    <td>{{re_auction.Date}}</td>
                    <td>{{re_auction.etat}}</td>
                    <td>
                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editreverseModal" (click)="getRe_AuctionData(re_auction)">Edit</button>
                        <button class="btn btn-info" (click)="stopR_auction(re_auction)">Stop</button>
                        <button class="btn btn-danger" (click)="deleteRe_Auction(re_auction.id,j)">Delete</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reverseModal">
      Add Reverse Auction
    </button>
            </tfoot>
        </table>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="auctionModal" tabindex="-1" role="dialog" aria-labelledby="auctionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="auctionModalLabel">Add Auction</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form [formGroup]="auctionForm" (ngSubmit)="add()">
                    <div class="modal-body">
                        <input type="text" class="form-control" formControlName="id" hidden>

                        <label for="auctionprice">Choose Auction Name</label>
                        <div class="form-group first">
                            <input type="text" class="form-control" name="auctionprice" id="price" formControlName="Name" placeholder="Auction Name" required>
                            <div class="error-msg" *ngIf="Name.touched && Name.hasError('required')">
                                Name is <b>required</b> !
                            </div>
                        </div>
                        <br>
                        <label for="auctionprice">Choose Auction Price</label>
                        <div class="form-group first">
                            <input type="number" class="form-control" name="auctionprice" id="price" formControlName="Price" placeholder="Auction price" required>
                            <div class="error-msg" *ngIf="Price.touched && Price.hasError('required')">
                                Price is <b>required</b> !
                            </div>
                        </div>
                        <br>
                        <label for="startingdate">Choose Publish Date</label>
                        <div class="form-group">
                            <input type="date" class="form-control" name="startingdate" id="date" formControlName="Date" placeholder="Auction Date" required>
                        </div>
                        <div class="error-msg" *ngIf="Date.touched && Date.hasError('required')">
                            Starting Date is <b>required</b> !
                        </div>
                        <br>
                        <label for="prodname">Choose Product</label>
                        <div class="form-group">
                            <select class="form-control" name="prodname" formControlName="product_id" required>
                                <option *ngFor="let product of productsArray" [ngValue]="product.id">
                                  {{ product.designation }}
                                </option>
                              </select>
                        </div>
                        <div class="error-msg" *ngIf="product_id.touched && product_id.hasError('required')">
                            Product is <b>required</b> !
                        </div>
                        <br>
                        <label for="categoryname">Choose Category</label>
                        <div class="form-group">
                            <select class="form-control" name="categoryname" formControlName="category_id" required>
                                <option *ngFor="let category of categoryArray" [ngValue]="category.id">
                                  {{ category.designation }}
                                </option>
                              </select>
                        </div>
                        <div class="error-msg" *ngIf="category_id.touched && category_id.hasError('required')">
                            Category is <b>required</b> !
                        </div>
                        <br>
                        <label for="categoryname">Choose SubCategory</label>
                        <div class="form-group">
                            <select class="form-control" name="categoryname" formControlName="subcategory_id" required>
                                <option *ngFor="let subcategory of subCategoryArray" [ngValue]="subcategory.id">
                                  {{ subcategory.designation }}
                                </option>
                              </select>
                        </div>
                        <div class="error-msg" *ngIf="product_id.touched && product_id.hasError('required')">
                            SubCategory is <b>required</b> !
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editauctionModal" tabindex="-1" role="dialog" aria-labelledby="editauctionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editauctionModalLabel">Edit Auction</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form [formGroup]="auctionForm" (ngSubmit)="update()">
                    <div class="modal-body">
                        <label for="auctionprice">Choose Auction Name</label>
                        <div class="form-group first">
                            <input type="text" class="form-control" name="auctionprice" id="price" formControlName="Name" placeholder="Auction Name" required>
                            <div class="error-msg" *ngIf="Name.touched && Name.hasError('required')">
                                Name is <b>required</b> !
                            </div>
                        </div>
                        <br>
                        <label for="auctionprice">Auction Price</label>
                        <div class="form-group first">
                            <input type="text" class="form-control" name="auctionprice" id="price" formControlName="Price" placeholder="Auction price" required>
                            <div class="error-msg" *ngIf="Price.touched && Price.hasError('required')">
                                Price is <b>required</b> !
                            </div>
                        </div>
                        <br>
                        <label for="startingdate">Publish Date</label>
                        <div class="form-group">
                            <input type="date" class="form-control" name="startingdate" id="date" formControlName="Date" placeholder="Auction Date" required>
                        </div>
                        <div class="error-msg" *ngIf="Date.touched && Date.hasError('required')">
                            Starting Date is <b>required</b> !
                        </div>
                        <label for="prodname">Choose Product</label>
                        <div class="form-group">
                            <select class="form-control" name="prodname" formControlName="product_id" required>
                                <option *ngFor="let product of productsArray" [ngValue]="product.id">
                                  {{ product.designation }}
                                </option>
                              </select>
                        </div>
                        <div class="error-msg" *ngIf="product_id.touched && product_id.hasError('required')">
                            Product is <b>required</b> !
                        </div>
                        <br>
                        <label for="categoryname">Choose Category</label>
                        <div class="form-group">
                            <select class="form-control" name="categoryname" formControlName="category_id" required>
                                <option *ngFor="let category of categoryArray" [ngValue]="category.id">
                                  {{ category.designation }}
                                </option>
                              </select>
                        </div>
                        <div class="error-msg" *ngIf="category_id.touched && category_id.hasError('required')">
                            Category is <b>required</b> !
                        </div>
                        <br>
                        <label for="categoryname">Choose SubCategory</label>
                        <div class="form-group">
                            <select class="form-control" name="categoryname" formControlName="subcategory_id" required>
                                <option *ngFor="let subcategory of subCategoryArray" [ngValue]="subcategory.id">
                                  {{ subcategory.designation }}
                                </option>
                              </select>
                        </div>
                        <div class="error-msg" *ngIf="subcategory_id.touched && subcategory_id.hasError('required')">
                            SubCategory is <b>required</b> !
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="reverseModal" tabindex="-1" role="dialog" aria-labelledby="reverseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reverseModalLabel1">Add Reverse Auction</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form [formGroup]="re_auctionForm" (ngSubmit)="re_add()">
                    <div class="modal-body">
                        <label for="auctionprice">Choose Auction Name</label>
                        <div class="form-group first">
                            <input type="text" class="form-control" name="auctionprice" id="price" formControlName="Name" placeholder="Auction Name" required>
                            <div class="error-msg" *ngIf="re_Name.touched && re_Name.hasError('required')">
                                Name is <b>required</b> !
                            </div>
                        </div>
                        <br>
                        <label for="auctionprice">Auction Price</label>
                        <div class="form-group first">
                            <input type="number" class="form-control" name="auctionprice" id="price" formControlName="Price" placeholder="Auction price" required>
                            <div class="error-msg" *ngIf="re_Price.touched && re_Price.hasError('required')">
                                Price is <b>required</b> !
                            </div>
                        </div>
                        <br>
                        <label for="startingdate">Publish Date</label>
                        <div class="form-group">
                            <input type="date" class="form-control" name="startingdate" id="date" formControlName="Date" placeholder="Auction Date" required>
                        </div>
                        <div class="error-msg" *ngIf="re_Date.touched && re_Date.hasError('required')">
                            Starting Date is <b>required</b> !
                        </div>
                        <label for="prodname">Choose Product</label>
                        <div class="form-group">
                            <select class="form-control" name="prodname" formControlName="product_id" required>
                                <option *ngFor="let product of productsArray" [ngValue]="product.id">
                                  {{ product.designation }}
                                </option>
                              </select>
                        </div>
                        <div class="error-msg" *ngIf="re_product_id.touched && re_product_id.hasError('required')">
                            Product is <b>required</b> !
                        </div>
                        <br>
                        <label for="categoryname">Choose Category</label>
                        <div class="form-group">
                            <select class="form-control" name="categoryname" formControlName="category_id" required>
                                <option *ngFor="let category of categoryArray" [ngValue]="category.id">
                                  {{ category.designation }}
                                </option>
                              </select>
                        </div>
                        <div class="error-msg" *ngIf="re_category_id.touched && re_category_id.hasError('required')">
                            Category is <b>required</b> !
                        </div>
                        <br>
                        <label for="categoryname">Choose SubCategory</label>
                        <div class="form-group">
                            <select class="form-control" name="categoryname" formControlName="subcategory_id" required>
                                <option *ngFor="let subcategory of subCategoryArray" [ngValue]="subcategory.id">
                                  {{ subcategory.designation }}
                                </option>
                              </select>
                        </div>
                        <div class="error-msg" *ngIf="re_subcategory_id.touched && re_subcategory_id.hasError('required')">
                            SubCategory is <b>required</b> !
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editreverseModal" tabindex="-1" role="dialog" aria-labelledby="editreverseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editreverseModalLabel1">Edit Reverse Auction</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form [formGroup]="re_auctionForm" (ngSubmit)="re_update()">
                    <div class="modal-body">
                        <div class="modal-body">
                            <input type="text" class="form-control" formControlName="id" hidden>

                            <label for="auctionprice">Choose Auction Name</label>
                            <div class="form-group first">
                                <input type="text" class="form-control" name="auctionprice" id="price" formControlName="Name" placeholder="Auction Name" required>
                                <div class="error-msg" *ngIf="re_Name.touched && re_Name.hasError('required')">
                                    Name is <b>required</b> !
                                </div>
                            </div>
                            <br>
                            <label for="auctionprice">Auction Price</label>
                            <div class="form-group first">
                                <input type="text" class="form-control" name="auctionprice" id="price" formControlName="Price" placeholder="Auction price" required>
                                <div class="error-msg" *ngIf="re_Price.touched && re_Price.hasError('required')">
                                    Price is <b>required</b> !
                                </div>
                            </div>
                            <br>
                            <label for="startingdate">Publish Date</label>
                            <div class="form-group">
                                <input type="date" class="form-control" name="startingdate" id="date" formControlName="Date" placeholder="Auction Date" required>
                            </div>
                            <div class="error-msg" *ngIf="re_Date.touched && re_Date.hasError('required')">
                                Starting Date is <b>required</b> !
                            </div>
                            <label for="prodname">Choose Product</label>
                            <div class="form-group">
                                <select class="form-control" name="prodname" formControlName="product_id" required>
                                <option *ngFor="let product of productsArray" [ngValue]="product.id">
                                  {{ product.designation }}
                                </option>
                              </select>
                            </div>
                            <div class="error-msg" *ngIf="re_product_id.touched && re_product_id.hasError('required')">
                                Product is <b>required</b> !
                            </div>
                            <br>
                            <label for="categoryname">Choose Category</label>
                            <div class="form-group">
                                <select class="form-control" name="categoryname" formControlName="category_id" required>
                                    <option *ngFor="let category of categoryArray" [ngValue]="category.id">
                                      {{ category.designation }}
                                    </option>
                                  </select>
                            </div>
                            <div class="error-msg" *ngIf="re_category_id.touched && re_category_id.hasError('required')">
                                Category is <b>required</b> !
                            </div>
                            <br>
                            <label for="categoryname">Choose SubCategory</label>
                            <div class="form-group">
                                <select class="form-control" name="categoryname" formControlName="subcategory_id" required>
                                    <option *ngFor="let subcategory of subCategoryArray" [ngValue]="subcategory.id">
                                      {{ subcategory.designation }}
                                    </option>
                                  </select>
                            </div>
                            <div class="error-msg" *ngIf="re_subcategory_id.touched && re_subcategory_id.hasError('required')">
                                SubCategory is <b>required</b> !
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>