<header class="">
    <nav class="d-flex justify-content-around align-items-center px-3 py-4 bg-dark">
        <div class="logo">
            <h2>Logo</h2>
        </div>
        <div class="nav_links d-flex">
                <a routerLink="/">Home</a>
                <a routerLink="/auction">Auction</a>
                <a routerLink="/reverse-auction">Reverse-Auction</a>
                <a routerLink="/subscription">Subscription</a>
                <a routerLink="">About</a>
        </div>
        <div>
            <a routerLink="/login"><button style="background-color:transparent">Log In</button></a>
            <a routerLink="/signup"><button>Sign Up</button></a>
        </div>
    </nav>
</header>