<header class="">
    <nav class="d-flex justify-content-around align-items-center px-3 py-4 bg-dark">
        <div class="logo">
            <h2>Logo</h2>
        </div>
        <div class="nav_links d-flex">
                <a href="">Home</a>
                <a href="">Auction</a>
                <a href="">Reverse-Auction</a>
                <a href="">About</a>
        </div>
        <div>
            <a routerLink="/login"><button style="background-color:transparent">Log In</button></a>
            <a routerLink="/signup"><button>Sign Up</button></a>
        </div>
    </nav>
</header>