{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptiontypesController!{% endblock %}

{% block body %}
  
     {{ dump(Subscriptiontypes) }}  

<div class="example-wrapper">
    <h1> {{ Subscriptiontypes.designation }}! {{ Subscriptiontypes.duration }}!✅</h1>

   
</div>
{% endblock %}

