*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}
.cover{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/images/handshake.jpg");
    height: 90vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
}
.welcome-text{
    text-align: center;
    margin: 15% 30%;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
}
.stats{
display: flex;
align-items: center;
justify-content: center;
height: 40vh;
overflow: hidden;
margin: 0;
}
.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}
.counter {
    font-size: 50px;
   margin-top: 10px;

}
.bi{
    font-size: 60px;
    color: #0088a9;
}

.divider {								
    display: table; 
    font-size: 24px; 
    text-align: center; 
    margin: 0 auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 20px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}








.e-auction , .re-auction {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 50px;
    height: 70vh;
}
.e-auction img , .re-auction img{
    border-radius: 100%;
    width: 70vh;
}
.e-auction p , .re-auction p{
    text-align: center;
    font-size: 30px;
    margin: auto;
    line-height: 60px;
    width: 50%;
}






















.services{
    padding: 25px 0;
    background-color: #111;
}
.max-width{
    max-width: 1300px;
    padding: 0 45px;
    margin: auto;
}
.max-width h1{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;
}
.max-width h1::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 170px;
    background: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.card{
    background: #222;
    text-align: center;
    border-radius: 6px;
    margin: 20px;
    padding: 50px 25px;
    user-select: none;
    width: calc(26% - 20px);
    cursor: pointer;
    transition: all 0.3s ease;
}
.card:hover{
    background: #dc143c;
}
.box{
    transition: all 0.3s ease;
}
.card:hover .box{
    transform: scale(1.05);
}
.box i{
    font-size: 50px;
    color: #dc143c;
    transition: color 0.3s ease;
}
.card:hover .box i{
    color: #fff;
}
.box h3{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px;
}
@media screen and (max-width: 1190px) {
    .max-width{
        padding: 0 25px;
    }
    .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px){
    .card{
        width: 100%;
    }
}
@media (max-width: 580px) {
    .stat {
     flex-direction: column;
    }
}