<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Auctions request</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All requests</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Price </th>
                            <th>subscribers</th>
                            <th>Products</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Price </th>
                            <th>subscribers</th>
                            <th>Products</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let item of dataarray;index as i">
                            <td>{{item.Name}}</td>
                            <td>{{(item.Date.timestamp)}}</td>
                            <td>{{item.Price}}</td>
                            <td>{{item.usern.email}}</td>
                            <td>{{item.products.description}}</td>
                            <td><button class="btn btn-info" (click)="changestatus(item.id,'Accepted',i)">Accept</button>
                                <button class="btn btn-danger" (click)="changestatus(item.id,'Refused',i)">Refuse</button></td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>





<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Revers Auctions request</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All requests</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Price </th>
                            <th>subscribers</th>
                            <th>Products</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Price </th>
                            <th>subscribers</th>
                            <th>Products</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let item of dataarray2;index as i">
                            <td>{{item.Name}}</td>
                            <td>{{(item.Date.timestamp)}}</td>
                            <td>{{item.Price}}</td>
                            <td>{{item.usern.email}}</td>
                            <td>{{item.products.description}}</td>
                            <td><button class="btn btn-info" (click)="changestatusr(item.id,'Accepted',i)">Accept</button>
                                <button class="btn btn-danger" (click)="changestatusr(item.id,'Refused',i)">Refuse</button></td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
