<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Subscriptions </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <a routerLink="/admin/addsub" class="btn btn-primary">Add Subscription</a>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Designation</th>
                            <th>duration </th>
                            <th>priceSubscription</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Description</th>
                            <th>Designation</th>
                            <th>duration </th>
                            <th>priceSubscription</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let item of dataarray;index as i">
                            <td>{{item.designation}}</td>
                            <td>{{(item.description)}}</td>
                            <td>{{item.duration}}</td>

                            <td>{{item.priceSubscription}}</td>
                            <td>
                                <button class="btn btn-danger" (click)="deleteauc(item.id,i)">Delete</button>
                                <button class="btn btn-info" (click)="getAuctionData(item,item.id,i)" data-toggle="modal" data-target="#exampleModal">Edit</button></td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>







<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <!-- form update start here -->
                <form [formGroup]="auctionForm" (ngSubmit)="add()">
                    <div class="modal-body">
                        <label for="auctionprice">Choose Subscreption designation</label>
                        <div class="form-group first">
                            <input type="text" class="form-control" name="auctionprice" id="designation" formControlName="designation" placeholder="designation" required>
                            <div class="error-msg" *ngIf="designation.touched && designation.hasError('required')">
                                designation is <b>required</b> !
                            </div>
                        </div>
                        <br>
                        <label for="auctionprice">Choose Subscreption description</label>

                        <div class="form-group first">
                            <input type="text" class="form-control" name="description" id="description" formControlName="description" placeholder="description" required>
                            <div class="error-msg" *ngIf="description.touched && description.hasError('required')">
                                description is <b>required</b> !
                            </div>
                        </div>
                        <br>
                        <label for="auctionprice">Choose Subscreption duration</label>

                        <div class="form-group first">
                            <input type="number" class="form-control" name="duration" id="duration" formControlName="duration" placeholder="duration" required>
                            <div class="error-msg" *ngIf="duration.touched && duration.hasError('required')">
                                duration is <b>required</b> !
                            </div>
                        </div>
                        <br>
                        <label for="auctionprice">Choose Subscreption price</label>

                        <div class="form-group first">
                            <input type="number" class="form-control" name="duration" id="priceSubscription" formControlName="priceSubscription" placeholder="priceSubscription" required>
                            <div class="error-msg" *ngIf="priceSubscription.touched && priceSubscription.hasError('required')">
                                price is <b>required</b> !
                            </div>
                        </div>

                        <div class="alert alert-success" *ngIf="messageSuccess">
                            {{messageSuccess}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
